# Root level
.DS_Store
.env
.env.local
.env.*.local
.vscode/

# Server specific
server/target/
server/.mvn/wrapper/maven-wrapper.jar
server/**/src/main/**/target/
server/**/src/test/**/target/
server/.idea/
server/*.iws
server/*.iml
server/*.ipr
server/src/main/resources/application.properties

# Ignorar archivos de propiedades sensibles en el backend
server/src/main/resources/application.properties

# Client specific
client/node_modules/
client/.next/
client/out/
client/.pnp
client/.pnp.js
client/.yarn/*
client/coverage/
client/build/
client/*.log
client/.vercel
client/*.tsbuildinfo